* {
  padding: var(--zero-px);
  margin: var(--zero-px);
  overflow: hidden;
}


body {
  font-family: var(--font-family);
}

.container {
  width: 80vw;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-700);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--clr-primary-200);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.bg-dark {
  background-color: var(--clr-bg);
}

.bg-success {
  background-color: var(--bg-success) !important;
}

.task-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  
}

.btn {
  font-size: var(--btn-font);
  line-height: var(--body-line-height);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  border: var(--zero-px);
}

.btn-success {
  background-color: var(--clr-primary-200);
}

.btn-danger {
  background-color: var(--bg-danger);
}

.btn-alert {
  background-color: var(--bg-alert);
}

/*  spacing */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.section-padding {
  padding-top: 30px;
}

.ms-auto {
  margin-left: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: var(--border-radius);
  background-color: var(--light);
  padding: 10px;
  margin: 10px;
}

input[type="text"] {
  background-color: transparent;
  color: var(--dark);
  border: none;
  outline: none;
  font-size: 15px;
  padding: var(--padding-10) var(--zero-px);
}

.right-nav input[type="text"] {
  color: var(--dark);
  background-color: var(--light);
  border-radius: var(--border-radius);
  font-size: var(--btn-font);
  padding: var(--btn-padding)
}

.card-header input[type="text"] {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-400);
  border-bottom: 3px solid var(--clr-primary-100);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  color: var(--light);
}

.innerpopUp {
  position: absolute;
  z-index: var(--z-index);
  background-color: rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in;
}

.archive {
  position: absolute;
  z-index: var(--z-index);
  background-color: rgba(0, 0, 0, 0.716);
  display: flex;
  flex-direction: column;
  right: 3%;
  top: 90px;
}

.archivePopup {
  display: none;
}

.popup {
  display: none;
}

/*   laptop responsive      */
@media only screen and (min-width: 1023px) and (max-width: 1599px) {
}

/*    tablet responsive      */
@media only screen and (min-width: 768px) and (max-width: 1022px) {
  .container {
    width: 90vw;
   
  }


}

/*     mobile responsive      */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 95vw;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right-nav {
    margin-left: auto;
    margin-right: auto;
  }


 .archive .card {
  width: 260px;
 }

}
