
* {
  padding: var(--zero-px);
  margin: var(--zero-px);
}

body {
  font-family: var(--font-family);
}

.container {
  width: 80vw;
  margin: 30px auto 0;
}

.task-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: var(--clr-bg);
}

.bg-success{
  background-color: var(--bg-success) !important;
}

.text-primary {
  color: var(--clr-primary-200);
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.btn {
  font-size: var(--btn-font);
  line-height: var(--body-line-height);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  border: 0px;
}

.btn-success {
  background-color: var(--clr-primary-200);
}

.btn-danger {
  background-color: rgb(221, 29, 29);
}

.btn-alert {
  background-color: rgb(185, 185, 57);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-700);
}

/*  spacing */

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ms-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: var(--border-radius);
  background-color: white;
  padding: 10px;
  margin: 10px;
}

input[type="text"] {
  background-color: transparent;
  color: #100f0f; 
  border: none; 
  outline: none; 
  font-size: 15px;
  padding: 10px 0;
}

.content input[type="text"]  {

  color: rgb(0, 0, 0);
  background-color: aliceblue;
  border-radius: var(--border-radius);
  padding: 10px;
}

.card-header input[type="text"] {
  font-size: var(--h4-font-size);
  font-weight: 400;
  border-bottom: 3px solid var(--clr-primary-100);
}

a {
  text-decoration: none;
  color: white;
}
.nav-item {
  margin: auto 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  padding: 3px;
}

.innerpopUp {
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.522);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in;
}

.archive {
  position: absolute;
  z-index: 9;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  right: 0%;
  top: 90px;
}

#popup {
  display: none;
}

#archivePopup {
  display: none;
}

/*   laptop responsive      */
@media only screen and (min-width: 1023px) and (max-width: 1599px) {
 
}

/*    tablet responsive      */
@media only screen and (min-width: 768px) and (max-width: 1022px) {
  
}

/*     mobile responsive      */
@media only screen and (min-width: 320px) and (max-width: 767px) {

  .container {
    width: 100vw;
    margin: 30px auto 0;
  }
 
}
